h4{
            text-align: center;
        }
        #wow{
            color: #f90505;
        }
        #woo{
            color: #ff4d00;
        }
        .hey{
            text-decoration: underline;
        }
        img{
            display: block;
            margin: 0 auto;
            border: 2px #1403ff;
            border-radius: 20px;
            box-shadow: 0 0 10px #07ff03;
        }
        a{
            text-decoration: none;
            font-weight: bold;
            color: #ff0000;
        }
        a:hover{
            color: #0800ff;
            background-color: #f7ff03;
        }